/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"),
  url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
  url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
  url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "RobotoRegular";
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

hr {
  margin: 2px 0;
}

ul {
  padding: 0;
  margin: 0;
}

.b-personal-area_current-color {
  background-color: #1e88e5;
}

.b-personal-area_current-color__link {
  color: white;
  text-decoration: none !important;
}

.b-personal-area_current-color__link:hover {
  color: white;
}

.b-personal-area_current-color__link:active {
  color: white;
}

.header {
  width: 100%;
  background-color: #2196F3;
}

.header-menu {
  max-width: 800px;
  width: 100%;
  min-height: 44px;
  height: 100%;
  margin: 0 auto;
}

.btn-mmenu {
  border: none;
  background-color: transparent;
  max-width: 50px;
  width: 100%;
}

.btn-mmenu span {
  display: block;
  height: 3px;
  margin-top: 8px;
  background-color: white;
}

.b-personal-area {
  min-height: 44px;
  height: 100%;
  width: 100%;

}

.b-personal-area__link {
  display: block;
  min-height: 44px;
  height: 100%;
  padding-top: 12px;
  text-align: center;
  color: white;
}

.b-mmenu-header {
  margin: 0 auto;
  margin-top: 15px;
  width: 90%;
  color: #7c7c7c;
  border-bottom: 1px solid #626262 !important;

}

.btn-mmenu-close {
  background-color: transparent;
  border: none;
}

.b-mmenu-header__close {
  text-align: right;
  font-size: 18px;
  color: white;
}

.b-mmenu-header__name {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.b-mmenu-content {
  margin: 0 auto;
  margin-top: 15px;
  width: 90%;
}

.list-b-mmenu-content {
  list-style: none;
}

.list-b-mmenu-content li a {
  font-size: 16px;
  color: black;
  display: block;
  font-weight: bold;
  text-decoration: none !important;
  border-bottom: 1px solid black;
  padding: 5px 0;
}

.list-b-mmenu-content li a:hover {
  color: #1565c0;

}

.footer {
  min-height: 120px;
}

.b-mmenu-footer {
  margin: 0 auto;
  margin-top: 15px;
  width: 90%;

}

.list-b-mmenu-footer {
  list-style: none;
}

.list-b-mmenu-footer li a {
  font-size: 14px;
  color: #7c7c7c;
  display: block;
  text-decoration: none !important;
  padding: 5px 0;
  border-bottom: 1px solid #626262;
}

.content {
  padding-top: 20px;
}

.content h1 {
  font-size: 18px;
  font-weight: bold;
}

.content hr {
  border-color: black;
  margin: 3px auto;
}

.btn_product {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  border: none;
  background-color: #4caf50;
  box-shadow: inset -3px -3px #1b5e20;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
  text-transform: uppercase;
  /**/
  text-decoration: none;
  text-align: center;
  padding: 11px 32px;
  border: solid 1px #004F72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E5FFFF;
  background-color: #3BA4C7;
  background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -ms-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1982A5', endColorstr='#1982A5', GradientType=0);
  background-image: linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.product__btn {
  padding-top: 15px;
}

.product__pic {

}

.product__image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
  width: 100%;
}

.js-shadow::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.js-shadow-active {

}

.download-list__item li {
  margin: 15px;
}

.product__cont-number {
  text-align: center;
  font-weight: bold;
}

.product__specification table {
  border-collapse: collapse;
  margin: 20px 0;
}

.product__specification table tr {
  border-bottom: 1px solid black;
}

.product__specification table tr td {
  padding: 3px;
}

.product__cont {
  padding-top: 15px;
  padding-bottom: 15px;
}

.b-download a {
  text-align: center;
  color: black;
  text-decoration: underline;
  margin-bottom: 20px;
}

.b-download {
  text-align: center;
  padding-top: 20px;
}

.product__cont__title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.category-block___title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
}

.category-block___content {
  padding: 5px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  transition: .4s;
}

.js-active-category-block___content {
  max-height: 500px;
  visibility: visible;
  margin: 10px 0;
}

.category-block {
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  background-color: white;
}

.block___btn {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 15px;
  text-decoration: none !important;
  color: white !important;
  background-color: #2196f3;
  transition: .1s;

}

.block___btn:hover {
  background-color: #1E88E5;

}

.main {
  background-color: #ededed;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.footer {
  background-color: #2196f3;
  color: white;
  min-height: 100px;
  padding: 20px;
}

.footer__cont__title {
  font-family: "RobotoBold";
  font-size: 30px;
}

.footer__cont {
  font-size: 22px;
}

.js-wrapper-active {
  height: auto !important;
}

.footer__cont__link {
  color: white !important;
  text-decoration: underline !important;

}

.fixed-cont {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #4caf50;
  z-index: 50;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  padding-top: 30px;
  margin: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: .4s;

}

.fixed-cont__phone {
  color: #fff;
  font-size: 36px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.js-fixed-cont-active {
  border-radius: 0;
  width: 250px;
  height: 240px;
  transform: translateX(-20px);
  padding-top: 10px;
}

.fixed-cont__content {
  display: none;
  padding: 5px;
  text-align: left;
  color: white !important;
  font-size: 18px;
}

.fixed-cont__content-title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.fixed-cont__content--number {
  padding: 0 20px;
}

.fixed-cont__close {
  text-align: right;
}

.js-box-shadow-active {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.btn-header-close {
  color: black;
}

.footer__three {
  margin-top: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
}

.category-block__pic {
  height: 120px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.next-read__link {
  cursor: pointer;
  margin-bottom: 15px;
}

.next-read {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.next-read__link {
  text-align: center;
  text-decoration: underline;
}

.js-fixed-cont-shadow-active {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 50;
  background-color: rgba(66, 66, 66, 0.92);
}

.fixed-cont__skype {
  height: 50px;
  width: 50px;
  right: 10px;
  transition: .4s;
  visibility: hidden;
}

.fixed-cont__skype-visible {
  bottom: 90px;
  visibility: visible;
}

.fixed-cont__phones {
  height: 50px;
  width: 50px;
  right: 10px;
  transition: .4s;
  visibility: hidden;
}

.fixed-cont__phones-visible {
  bottom: 216px;
  visibility: visible;
}

.fixed-cont__email {
  height: 50px;
  width: 50px;
  right: 10px;
  transition: .4s;
  visibility: hidden;
}

.fixed-cont__email-visible {
  bottom: 155px;
  visibility: visible;
}

.fixed-cont-title {
  position: absolute;
  right: 65px;
  width: 300px;
  top: 20px;
  text-align: right;
  padding-right: 15px;
}

.fixed-cont-title a {
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 1;
  text-decoration: underline;
}

.icon-fast {
  position: relative;
  font-size: 25px;
  color: white;
  bottom: 18px;
}

.category-block-table-thead-th {
  word-break: break-all;
  text-align: center;
}

.category-block-table-thead-tr {
}
.category-block-table tbody tr td:nth-child(2n+1) {
  text-align: center;
  vertical-align: middle;
}
.category-block-table tbody tr td:nth-child(2n) {
  text-align: center;
  vertical-align: middle;
}
.category-block-table tbody tr td:nth-child(2n) a {
  font-size: 18px;
  font-weight: bold;
}

.category-block-table tbody tr td:nth-child(2n) a i {
  margin-left: 10px;
}